.header3 {
    display: flex;
    font-size: 24px;
    padding-top: 16px;
    width: 614px;
    height: 516px;
    border: 16px #E2E2E2 solid;
    border-bottom: 69px #e2e2e2 solid;
    gap: 10px;
    font-family: Roboto, sans-serif;
    text-align: center;
    position: relative;
    // border-bottom: 1px #E2E2E2 solid;
}

.imgGraphic {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-left: 16px;
    height: 15px;
}

.grid {
    display: flex;
    justify-content: space-between;
}

.horizontal { 
    clear: both;
    border-top: 1px solid #ccc; 
    margin: 10px 0;  
    height: 1px;
    border: none;
    background-color: #c6c6c6;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    top: 49px;
    right: 123px;
}
.componentGraphic {
    width: 100%;
}

span {
    display: block;

    margin-bottom: 10px;
}