.colects {
    display: flex;
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
}

.colect1 {
    border: 16px #E2E2E2 solid ;
    span {
        color: #9c9393
    }
};
    // padding-left: 16px;
    
.colect2 {
    // padding-left: 16px;
    border: 16px #E2E2E2 solid ;
    span {
        color: #9c9393;
    }
}

.colect3 {
    // padding-left: 16px;
    border: 16px #E2E2E2 solid ;
    border-right: 323px #E2E2E2 solid;
    span {
        color: #9c9393;
    }
}