.title1 {
    padding-left: 16px;
    padding: 10px;
    // border-bottom: 1px #e2e2e2 solid;
    display: flex;
    font-family: Roboto, sans-serif;
    // img {
    //     padding-right: 10px;
    //     padding-left: 10px;
    // }
    // border-bottom: 1px #c6c6c6 solid;
}

.title2 {
    display: flex;
    padding-left: 10px;
    padding-right: 871px;
}

.register {
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: flex;
    margin-top: 9px;
    width: 179px;
    height: 40px;
    font-family: Roboto;
    font-size: 12px;
    border-radius: 4px;
    background: #368467;
    color: #fff;
    // justify-content: flex-end;
    // height: 40px;
    // padding: 12px 20px;
    // background: #368467;
    // font-family: Roboto, sans-serif;
    // font-size: 14px;
    // font-style: normal;
    // font-weight: 500;
    // line-height: normal;
    // border-radius: 2px;
    // color: #FFF;
    // border: 0;

    img {
        justify-content: center;
        align-items: center;
    }
    // 
    // gap: 5px;   
}

.componente {
    border: 16px #E2E2E2 solid;
    width: 96vw;
    height: 400px;
} 

.conteudo {
    display: flex;
    padding-left: 30px;
    padding: 10px;
    input {
        margin-right: 40px;
    }
    span {
        font-family: Roboto;
        padding-top: 12px;
    }
}

.iconSla {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
}
